*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hf{
    width: 100%;
    background-color: #292929;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}
.hf>img{
    width: 180px;
}
.buttons{
    display: flex;
    gap: 15px;
}
.navBtn{
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
}
.navBtn:hover{
    border-bottom: 2px solid black;
    transition: 0.7s;
}

.intro{
    padding: 40PX;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.item{
    width: 200px;
}

.main-content{
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.main-content>div>img{
    width: 200px;
    height: 130px;
    border-radius: 6%;
}